@model Care_UP.Models.Orders

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
    int? salary = 0;
}

<h2>訂單詳細資訊</h2>

<h3>確定已撥款?</h3>
<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendants.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendants.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Attendants.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attendants.Account)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Elders.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elders.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopDate)
        </dd>

        <dt>
            薪水
        </dt>
        <dd>
            @{
                salary =Model.Attendants.Salary*Model.CareRecordses.Count;
            }
            @salary
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cancel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cancel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="付款" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
